body {
	margin-top: 130px;
	height: auto !important;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	word-wrap: break-word;
	background: url("../../images/bg-carbon.jpg") repeat scroll center top #0b0d0d;
}
li.nostyle { list-style: none; }
a { text-decoration: none !important; }
a.qrcode { border: 1px solid #337ab7; padding: 3px !important; vertical-align: middle !important; }
a.qrcode:hover { border: 1px solid #24ab00; margin-bottom: 10px; }
h3.ftGreen, h3.ftBlue { margin-bottom: 25px; }
h3.norm { margin: 0 !important; }
p.complement { color: #9d9d9d }
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
 	display: inline-block;
  	padding: 4px;
  	font-size: 13px;
	color: #C5D1DB !important;
  	line-height: 18px;
  	border: 1px solid #ccc;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
#footer { color: #332CE0; margin: 15px 0 30px 0; text-align: center; color: graytext; }
.form-group small { color: #00b7ea; }
.form-control { background-color: #383838; color: #C5D1DB;  border: 1px solid #0b0d0d !important; }
.inputFile { background: none; border: none !important; }
.lightText { color: #ACACAC; }
.row { margin: 0; }
.topMargin30 { margin-top: 30px !important; }
.botMargin10 { margin-bottom: 10px; }
.botMargin30 { margin-bottom: 30px; }
.redSpan {
	color: #FFF !important;
	background: #fc2c65;
	background: -moz-linear-gradient(top,  #fc2c65 0%, #f90042 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc2c65), color-stop(100%,#f90042));
	background: -webkit-linear-gradient(top,  #fc2c65 0%,#f90042 100%);
	background: -o-linear-gradient(top,  #fc2c65 0%,#f90042 100%);
	background: -ms-linear-gradient(top,  #fc2c65 0%,#f90042 100%);
	background: linear-gradient(to bottom,  #fc2c65 0%,#f90042 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc2c65', endColorstr='#f90042',GradientType=0 );
 }
.greySpan { background: #7F7F7F !important; color: #FFF !important; }
.elWhite { color: #FFF !important; }
.smallbutton
{
 	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #D7E9F7;
	border: 1px solid #FFF;
	padding: 2px 5px;
	-webkit-box-shadow: 2px 2px 5px 2px #333333;
	-moz-box-shadow: 2px 2px 5px 2px #333333;
	-o-box-shadow: 2px 2px 5px 2px #333333;
	-ms-box-shadow: 2px 2px 5px 2px #333333;
	box-shadow: 2px 2px 5px 2px #333333;

}
a.smallbutton { color: #000 !important; }
.header { position: fixed; background: #FFF; z-index: 1; }
.content { margin-top: 140px }
.about_link { cursor: pointer; }
.features { font-size: small; }
.fixed-top { left: 0; position: fixed; right: 0; top: 50px; }
.control-label { color: #ACACAC; }

.filtering { margin: 0 15px; padding: 10px 0; overflow: auto; }
.shaareyourlinks { float: left; color: graytext; font-style: italic; }
.ftBlue { color: #0674CE; }
.ftGreen { color: #24ab00; }
.forms { float: right; }
.subDiv { background: #191919; border: 1px solid #444444; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 10px; margin: 20px 0;  }
.subDiv > p {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #00b7ea;
	background: -moz-linear-gradient(top,  #00b7ea 0%, #0059a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#0059a8));
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -o-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -ms-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: linear-gradient(to bottom,  #00b7ea 0%,#0059a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0059a8',GradientType=0 );
    border: 1px solid #000;
	padding: 6px 5px;
}
.subDiv > p > a { color: #000; }
.subDiv > p > a:hover { color: #fff; text-decoration: none; }

.posinline { display: inline !important; }
.width250 { width: 250px; margin: 0 5px; }

#linklist { display: block; padding: 15px; overflow: auto; }
#linklist .nextpage {
	column-span: all;
	-moz-column-span: all;
	-webkit-column-span: all;
}
.columns {]}
#linklist li.pin {
	border: 1px solid #000;
    min-width: 270px !important;
    margin: 10px;
    padding: 15px;
    float: left;
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
    overflow: hidden;
	}
.pinta { width: 270px; }
#linklist li.private {box-shadow: 0 1px 2px rgba(255, 0, 0, 0.3); background: rgba(255, 0, 0, 0.3); }
/*#linklist li.pin:hover { opacity: 1; }*/
/*#linklist li.pin a:hover { color: #24ab00; }*/
.linktitle {
	font-size: 1.2em;
	line-height: 1em;
	padding: 5px 10px ;
	margin: 0;
	background-color: #1E1E1E;
	border-top: 1px solid #444141;
	border-bottom: 1px dashed #444141;
}
.linktitle a, #footer a { color: #0674ce !important; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); }
.linktitle a:hover { color: #25F422 !important; }
.linkdate { font-size: 0.7em; color: #25F422; display: inline-block; }
.linkdate a { text-decoration: none; }
.linkdate a img { vertical-align: middle; }
.linkdate a:hover { color: #F57900 }
.linkurl {
	font-size: 8pt;
	color: #aaa;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: #1E1E1E;
	border-bottom: 1px solid #444141;
}
.linkdescription {
	padding: 10px 15px 10px 15px;
	border-bottom: 1px solid #444141;
	margin: 0;
	color: #53FC77;
	font-weight: normal;
	overflow: auto;
}
.linkdescription a { text-decorat ion: none; color: #999; }
.linkdescription li {
	list-style: circle inside;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.linkdescription ul,.linkdescription ol { border: none; margin-top: 5px; margin-bottom: 5px; }
.linkdescription p { padding: 5px 0; }
.linkdescription em { font-style: italic; }
.linkdescription h1 { font-size: 1.4em; font-weight: bold; }
.linkdescription h2 { font-size: 1.3em; font-weight: bold; }
.linkdescription h3 { font-size: 1.2em; font-weight: bold; }
.linkdescription h4 { font-size: 1.1em; font-weight: bold; }
.linkdescription strong { font-weight: bold }
.linkdescription a:hover { color: #F57900; }
.linkfooter { background-color: #1E1E1E;  padding-bottom: 5px; border-bottom: 1px solid #444141; }
.linktaglist { padding-top: 10px; line-height: 200%; }
.linktag {
	color: #644;
	font-size: 0.8em;
	padding: 3px 3px 3px 20px;
	height: 15px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}
/*.linktag:hover { color: #000; }*/
.linktag a {
	color: #0674ce;
	padding: 2px 4px;
	text-decoration: none;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	-moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 2px 2px 3px #000;
}
.linktag > a:hover { color: #25F422 !important; }
.linkshort { font-size: 8pt; color: #888; }
.linkshort a { text-decoration: none; color: #393964; }
.linkshort a:hover { text-decoration: underline; }
.columns { overflow:auto; }
.thumbnail { background-color: #1E1E1E; border: 1px solid #444141; }
.thumbnailDefault { text-align:center; padding: 5px 0; }
div.thumbnailDefautl + a > img { border: 1px solid #000; }
.permadate { margin: 5px 0; }
.permaqr { margin-top: 5px; padding: 3px 0; }
h1#searchcriteria { color: #416598; }

div#permalinkQrcode {
	margin-top: 10px;
	padding-top: 15px;
	border: 1px solid black;
	text-align: center;
	color: #0674CE;
	font-size: 8pt;
	z-index: 50;
	background-color: #ffffff;
	-webkit-box-shadow: 2px 2px 20px 2px #333333;
	-moz-box-shadow: 2px 2px 20px 2px #333333;
	-o-box-shadow: 2px 2px 20px 2px #333333;
	-ms-box-shadow: 2px 2px 20px 2px #333333;
	box-shadow: 2px 2px 20px 2px #333333;
}
form.buttoneditform { width: 35px !important; display: inline; }
.admin { font-size: 8pt; padding: 0 0 0 10px;  color: #aaa; }
input[type=image] { vertical-align: middle; }
.paging {
	border: 1px solid #000;
    margin: 10px;
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
	display: block;
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
	overflow: auto;
}
.paging a:hover { text-decoration: none; color: #24ab00; }
.pagin { float: right; color: graytext; }
.navbar-inverse {
	background: #3f3a3a;
	background: -moz-linear-gradient(top,  #3f3a3a 0%, #1c1c1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3a3a), color-stop(100%,#1c1c1c));
	background: -webkit-linear-gradient(top,  #3f3a3a 0%,#1c1c1c 100%);
	background: -o-linear-gradient(top,  #3f3a3a 0%,#1c1c1c 100%);
	background: -ms-linear-gradient(top,  #3f3a3a 0%,#1c1c1c 100%);
	background: linear-gradient(to bottom,  #3f3a3a 0%,#1c1c1c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3a3a', endColorstr='#1c1c1c',GradientType=0 );

}
.form-install { width: 400px !important; }
.form-group { margin: 15px 0 !important; }
.ftXs { font-size: 0.5em; }
.kt-label { color: #acacac; }

.active-background {
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 2px 20px 2px #333333;
	-moz-box-shadow: 2px 2px 20px 2px #333333;
	-o-box-shadow: 2px 2px 20px 2px #333333;
	-ms-box-shadow: 2px 2px 20px 2px #333333;
	box-shadow: 2px 2px 20px 2px #333333;
	margin-bottom: 25px;
}

.btnBlue {
	background: #00b7ea;
	background: -moz-linear-gradient(top,  #00b7ea 0%, #0059a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#0059a8));
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -o-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -ms-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: linear-gradient(to bottom,  #00b7ea 0%,#0059a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0059a8',GradientType=0 );
    border: 1px solid #000;
    border-radius: 3px;
	color: #000;
}

.btnRed {
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	border: 1px solid #000;
    border-radius: 3px;
	color: #000;

}

/* Highlight search results */
.highlight { background-color: #FFFF33; }

/* Lightbox style : http://www.webreference.com/programming/javascript/CSS-Only-Lightbox/index.html*/
.LB-black-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.LB-white-content {
    display: none;
    position: fixed;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 20% 25%;
    border: 1px solid #666;
    background-color: #fff;
    z-index:1002;
}

.ui-autocomplete {
	background-color: #333333 !important;

}
.ui-menu-item a { color: #FFF; }


.tagcloud #cloudtag em{ color: #0070B8; font-size: 9pt; padding-left: 5px; padding-right: 2px; }
.tagcloud #cloudtag input[type=submit]{
	display:inline-block;
	color:transparent;
	background:transparent;
	border:transparent;
	cursor:pointer;
	box-shadow:none;
}
.tagcloud #cloudtag {
	background: #00b7ea;
	background: -moz-linear-gradient(top,  #00b7ea 0%, #0059a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#0059a8));
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -o-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: -ms-linear-gradient(top,  #00b7ea 0%,#0059a8 100%);
	background: linear-gradient(to bottom,  #00b7ea 0%,#0059a8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0059a8',GradientType=0 );
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px 5px;
}
.tagcloud #cloudtag a{
	font-size: 40px;
	vertical-align: middle;
	display: inline-block;
	padding: 2px;
	margin: 1px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #D7E9F7;
	border: 1px solid #FFF;
	padding: 2px 5px;
	-webkit-box-shadow: 2px 2px 5px 2px #333333;
	-moz-box-shadow: 2px 2px 5px 2px #333333;
	-o-box-shadow: 2px 2px 5px 2px #333333;
	-ms-box-shadow: 2px 2px 5px 2px #333333;
	box-shadow: 2px 2px 5px 2px #333333;
	color: #000 !important;
}
.tagcloud #cloudtag a:hover input[type=submit]{
	background: rgba(255,0,0,0.4);
	color: #FF0000;
	box-shadow: 0 1px 2px maroon;
}
.tagcloud #cloudtag a:hover{
	background: rgba(0,0,0,0.8);
	color: #fff !important;
	-moz-transform: scale(1.4,1.4);
  	-webkit-transform: scale(1.4,1.4);
    transform: scale(1.4,1.4);
}

.tagcloud #cloudtag .size0{ font-size:8px; }
.tagcloud #cloudtag .size1{ font-size:8px; }
.tagcloud #cloudtag .size2{font-size:10px;}
.tagcloud #cloudtag .size3{font-size:12px;}
.tagcloud #cloudtag .size4{font-size:14px;}
.tagcloud #cloudtag .size5{font-size:16px;}
.tagcloud #cloudtag .size6{font-size:18px;}
.tagcloud #cloudtag .size7{font-size:20px;}
.tagcloud #cloudtag .size8{font-size:22px;}
.tagcloud #cloudtag .size9{font-size:24px;}
.tagcloud #cloudtag .size10{font-size:26px;}
.tagcloud #cloudtag .size11{font-size:28px;}
.tagcloud #cloudtag .size12{font-size:30px;}
.tagcloud #cloudtag .size13{font-size:32px;}
.tagcloud #cloudtag .size14{font-size:34px;}
.tagcloud #cloudtag .size15{font-size:36px;}
.tagcloud #cloudtag .size16{font-size:38px;}




/* Notebook style by Bronco*/
.mynotebook { }
.mynotebook #linklist { background: url("../images/noisy.png"); }
.mynotebook #searchcriteria { font-size: 14px; }
.mynotebook h1 { font-size: 16px; }
.mynotebook_only { display: none; }
.mynotebook h1.mynotebook_only { display: none; }
.mynotebook a.mynotebook_only { display: block; }
.mynotebook .daily_link,.mynotebook .tagcloud_link,.mynotebook .picwall_link,.mynotebook .addlink_link,.mynotebook .shaareyourlinks,.mynotebook .rssfeed_link,.mynotebook .atomfeed_link
{ display: none; }

#headerform { background: #232323; box-shadow: 4px 4px 5px #000; }

