body {
	margin-top: 130px;
	height: auto !important;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	word-wrap: break-word;
	background: url("../../images/bg-carbon.jpg") repeat scroll center top #0b0d0d;
}
li.nostyle { list-style: none; }
footer { color: #332CE0; margin: 30px 0; }
#footer {  text-align: center; color: graytext;}
.form-control { background-color: #383838; color: #C5D1DB;  border: 1px solid #0b0d0d !important;  }
a.qrcode { border: 1px solid #337ab7; padding: 3px !important; margin: 0 !important; vertical-align: middle !important; }
a.qrcode:hover { border: 1px solid #24ab00; margin-bottom: 10px; }
h3.ftGreen, h3.ftBlue { margin-bottom: 25px; }

.lightText { color: #ACACAC; }
.row { margin: 0; }
.topMargin30 { margin-top: 30px; }
.botMargin10 { margin-bottom: 10px; }
.redSpan { background: #FC2C65 !important; color: #FFF !important; }
.greySpan { background: #7F7F7F !important; color: #FFF !important; }
.header { position: fixed; background: #FFF; z-index: 1; }
.content { margin-top: 140px }
.about_link { cursor: pointer; }
.features { font-size: small; }
.fixed-top { left: 0; position: fixed; right: 0; top: 50px; }
.control-label { color: #ACACAC; }

.filtering { margin: 0 15px; padding: 10px 0; overflow: auto; }
.shaareyourlinks { float: left; color: graytext; font-style: italic; }
.ftBlue { color: #0674CE; }
.ftGreen { color: #24ab00; }
.forms { float: right; }

.posinline { display: inline !important; }
.width250 { width: 250px; margin: 0 5px; }

#linklist { display: block; padding: 15px; overflow: auto; }
#linklist .nextpage {
	column-span: all;
	-moz-column-span: all;
	-webkit-column-span: all;
}
.columns {]}
#linklist li.pin {
	border: 1px solid #000;
    min-width: 270px !important;
    margin: 10px;
    padding: 15px;
    float: left;
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
    overflow: hidden;
	}
.pinta { width: 270px; }
#linklist li.private {box-shadow: 0 1px 2px rgba(255, 0, 0, 0.3); background: rgba(255, 0, 0, 0.3); }
/*#linklist:hover li.pin  {  padding:0; opacity:0.4;}*/
#linklist li.pin:hover { opacity: 1; }
#linklist li.pin a:hover { color: #24ab00 !important; }
.private  .linktitle a { }
.linktitle {
	font-size: 1.2em;
	padding: 5px 10px ;
	margin: 0;
	background-color: #1E1E1E;
	border-top: 1px solid #444141;
	border-bottom: 1px solid #444141;
}
.linktitle a { text-decoration: none; text-shadow: 0 0px 1px; }
.linktitle a:hover { color: #F57900; }
.linkdate { font-size: 0.7em; color: #25F422; display: inline-block; }
.linkdate a { text-decoration: none; }
.linkdate a img { vertical-align: middle; }
.linkdate a:hover { color: #F57900 }
.linkurl {
	font-size: 8pt;
	color: #aaa;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: #1E1E1E;
	border-bottom: 1px solid #444141;
}
.linkdescription {
	padding: 10px 15px 10px 15px;
	border-bottom: 1px solid #444141;
	margin: 0;
	color: #53FC77;
	font-weight: normal;
	overflow: auto;
}
.linkdescription a { text-decorat ion: none; color: #999; }
.linkdescription li {
	list-style: circle inside;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.linkdescription ul,.linkdescription ol { border: none; margin-top: 5px; margin-bottom: 5px; }
.linkdescription p { padding: 5px 0; }
.linkdescription em { font-style: italic; }
.linkdescription h1 { font-size: 1.4em; font-weight: bold; }
.linkdescription h2 { font-size: 1.3em; font-weight: bold; }
.linkdescription h3 { font-size: 1.2em; font-weight: bold; }
.linkdescription h4 { font-size: 1.1em; font-weight: bold; }
.linkdescription strong { font-weight: bold }
.linkdescription a:hover { color: #F57900; }
.linkfooter { background-color: #1E1E1E; }
.linktaglist { padding-top: 10px; line-height: 200%; }
.linktag {
	color: #644;
	font-size: 0.8em;
	padding: 3px 3px 3px 20px;
	height: 15px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 3px center;
	background-color: transparent;
}
.linktag:hover { color: #000; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
.linktag a { color: #777; text-decoration: none; }
.linkshort { font-size: 8pt; color: #888; }
.linkshort a { text-decoration: none; color: #393964; }
.linkshort a:hover { text-decoration: underline; }
.columns { overflow:auto; }
.thumbnail { background-color: #1E1E1E; border: 1px solid #444141; }
.thumbnailDefault { text-align:center; padding: 5px 0; }
div.thumbnailDefautl + a > img { border: 1px solid #000; }
.permadate { margin: 5px 0; }
.permaqr { margin-top: 5px; padding: 3px 0; }
div#permalinkQrcode {
	margin-top: 10px;
	padding-top: 15px;
	border: 1px solid black;
	text-align: center;
	color: #0674CE;
	font-size: 8pt;
	z-index: 50;
	background-color: #ffffff;
	-webkit-box-shadow: 2px 2px 20px 2px #333333;
	-moz-box-shadow: 2px 2px 20px 2px #333333;
	-o-box-shadow: 2px 2px 20px 2px #333333;
	-ms-box-shadow: 2px 2px 20px 2px #333333;
	box-shadow: 2px 2px 20px 2px #333333;
}
form.buttoneditform { width: 35px !important; display: inline; }
.admin { font-size: 8pt; padding: 0 0 0 10px;  color: #aaa; }
input[type=image] { vertical-align: middle; }
.paging {
	border: 1px solid #000;
    margin: 10px;
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
	display: block;
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
	overflow: auto;
}
.paging a:HOVER { text-decoration: none; color: #24ab00; }
.pagin { float: right; color: graytext; }
.navbar-inverse { background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%); background-repeat: repeat-x; }
.form-install { width: 400px !important; }
.form-group { margin: 15px 0 !important; }
.ftXs { font-size: 0.5em; }
.active-background {
	background: url('../../images/bg-pin.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 2px 20px 2px #333333;
	-moz-box-shadow: 2px 2px 20px 2px #333333;
	-o-box-shadow: 2px 2px 20px 2px #333333;
	-ms-box-shadow: 2px 2px 20px 2px #333333;
	box-shadow: 2px 2px 20px 2px #333333;
	margin-bottom: 25px;
}
.btnBlue {
	background: #0778B3;
    background-image: linear-gradient(to bottom, #11c4ff 0px, #014883 100%);
    background-repeat: repeat-x;
    border: 1px solid #000;
    border-radius: 3px;
	color: #000;
}

/* Highlight search results */
.highlight { background-color: #FFFF33; }

/* Lightbox style : http://www.webreference.com/programming/javascript/CSS-Only-Lightbox/index.html*/
.LB-black-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.LB-white-content {
    display: none;
    position: fixed;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 20% 25%;
    border: 1px solid #666;
    background-color: #fff;
    z-index:1002;
}
/* Notebook style by Bronco*/
.mynotebook { }
.mynotebook #linklist { background: url("../images/noisy.png"); }
.mynotebook #searchcriteria { font-size: 14px; }
.mynotebook h1 { font-size: 16px; }
.mynotebook_only { display: none; }
.mynotebook h1.mynotebook_only { display: none; }
.mynotebook a.mynotebook_only { display: block; }
.mynotebook .daily_link,.mynotebook .tagcloud_link,.mynotebook .picwall_link,.mynotebook .addlink_link,.mynotebook .shaareyourlinks,.mynotebook .rssfeed_link,.mynotebook .atomfeed_link
{ display: none; }

#headerform { background: #232323; box-shadow: 4px 4px 5px #000; }

